* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: darkblue;
}

#calculator {
    height: 70vh;
    width: 30vw;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#display {
    flex: 1;
    border: solid 1px black;
}

#bottom {
    flex: 4;
    display: flex
}

#numbers{
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    margin: 2px;
}

#numbers * {
    border: solid 1px black;
    border-radius: 10%;
    text-align: center;
    background-color: bisque;
    margin: 3px;
}

#operators {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#operators * {
    flex: 1;
    border: solid 1px black;
    border-radius: 10%;
    text-align: center;
    background-color: bisque;
    margin: 3px;
}

#display {
    margin: 10px;
    background-color: bisque;
}